.wx__browse_product {
  .product-tabel {
    .wx__tr:hover {
      background-color: rgb(234, 234, 234);
      cursor: pointer;
    }
    .product {
      width: 100%;
    }
    .quantity {
      min-width: 120px;
    }
    .price {
      min-width: 140px;
    }
    .cart-icon {
      font-size: 25px;
    }
  }
}
