.wx__manage_customer_group {
    width: 480px;
    &__footer {
      display: flex;
      align-items: center;
      justify-content: end;
    }
    @media(max-width: 768px){
      width: 100%;
    }
  }
  