@import "../../assets/styles/partials/variables";
@import "../../assets/styles/custom/typography.scss";

.wx__label {
	margin-bottom: 0.3em;
	label {
		color: $neutral__900 !important;
		@extend .text_subtitle;
		font-weight: bold;
		span {
			color: $red__500;
		}
	}
}
