.wx__main_sm{
    .wx__main_content{
        max-width: 560px;
        width: 100%;
    }
}
.wx__main_md{
    .wx__main_content{
        max-width: 752px;
        width: 100%;
    }
}
.wx__main_lg{
    .wx__main_content{
        max-width: 944px;
        width: 100%;
    }
}
.wx__main_xl{
    .wx__main_content{
        max-width: 1136px;
        width: 100%;
    }
}
.wx__main_full{
    .wx__main_content{
        max-width: 100%;
        width: 100%;
    }
    .wx__container-fluid{
        padding-left:0 !important ;
        padding-right:0 !important ;
    }
}