.operator_update {
  .wx__form_right {
    .status_mxg_warning {
      background: #fff7e6;
      color: #873800;
      padding: 10px 12px;
      border-radius: 8px;
    }
    .wx__form_group {
        margin-bottom: 0;
    }
  }
}
