.collection_form {
  // width: 598px;
  .form_group {
    margin-bottom: 1rem;
  }
  &__footer {
    display: flex;
    align-items: center;
  }
}

// @media(max-width: 768px){
//   .collection_form {
//     width: 380px;
//   }
// }
// @media(max-width: 425px){
//   .collection_form {
//     width: 100vw;
//   }
// }