@import "webx-brighten/partials/mixins";
@import "webx-brighten/partials/variables";
@import "webx-brighten/partials/classes";

// tabs is override with bootstrap classes
.nav-tabs {
  border-bottom: 1px solid$neutral__400 !important;
  .nav-item {
    // margin: 0 12px;
    .nav-link {
      background: none;
      border: none !important;
      // border-bottom: 1px solid $neutral__400 !important;
      color: $neutral__600 !important;
      padding: 0 1.2rem 1rem 1.2rem !important;
      margin-bottom: -2px;
      font-size: $tab_link_font_size;
      font-weight: 500;
      &:hover,
      &:focus {
        color: $primary__600 !important;
        border: none !important;
        border-color: $primary__500 !important;
        border-bottom: 2px solid $primary__500 !important;
      }

      &.disabled {
        color: $neutral__600 !important;
        background-color: none !important;
        border-color: $primary__300 !important;
      }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      color: $primary__600 !important;
      background: none !important;
      border-color: none !important;
      border-bottom: 2px solid $primary__500 !important;
    }
    .nav-link.disable {
      color: $neutral__500 !important;
      pointer-events: none;
    }
  }
}
