@import "webx-brighten/partials/classes";
@import "webx-brighten/partials/variables";

.wx__thumbnail {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  overflow: hidden;
  @extend .rounded;
  text-align: center;
  border: 1px solid $neutral__400;
  background-color: inherit;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  span {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    color: $primary__500;
    padding: 9px 5px;
  }
  &.no_border {
    border: none;
  }
}
