@import "webx-brighten/partials/classes";
@import "webx-brighten/partials/variables";

.file-area {
  width: 100%;
  height: 91px;
  position: relative;
  border: 1px dashed $neutral__600;
  @extend .wx__rounded;

  &:hover {
    background-color: $neutral__200;
  }

  input[type="file"] {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  input[type="file"]:disabled {
    cursor: no-drop;
  }

  .file-dummy {
    width: 100%;
    text-align: center;
    transition: background 0.3s ease-in-out;

    .success {
      display: none;
    }
  }

  .success {
    display: inline-block;
  }
  .default {
    display: none;
    .img_icon {
      color: $neutral__800;
      margin-right: 7px;
      font-size: 3rem;
    }
    .upload_info {
      // @extend ._body__strong;
      p {
        margin: 0;
        font-weight: 600;
        label {
          color: $blue__500;
          cursor: pointer;
          // @extend ._body__strong;
          font-weight: 600;
        }
      }
      span {
        text-align: start;
        color: $neutral__700;
        font-size: small;
      }
    }
  }
}

.wx__image_files-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 148px;
  grid-gap: 10px;
  width: 100%;
  font-size: 0;
  margin-top: 20px;

  .drag-element {
    box-shadow: 0px 1px 6px 0px #7d7d7d4d;
    border-radius: 5px;
  }

  .wx__image-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border: 1px solid $neutral__400;
    overflow: hidden;
    @extend .wx__rounded;

    &:first-child {
      grid-column: 1/3;
      grid-row: 1/3;
    }

    &:hover {
      .image_hover {
        opacity: 50%;
        cursor: pointer;
      }
    }

    .image_hover {
      opacity: 0;
      position: absolute;
      top: 0;
      background: $neutral__900;
      width: 100%;
      height: 100%;
    }

    .checked {
      opacity: 1;
      background: #d9ecd86b;
      span {
        color: $primary__500;
        padding: 10px;
      }
    }

    .image_hover_icon {
      display: flex;
      justify-content: space-between;
      width: 100%;
      position: absolute;
      top: 1px;
      color: $neutral__300;
      padding: 10px 6px;
      span {
        cursor: pointer;
        font-size: 1.5rem;
      }
    }
    .wx__image {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

.wx__video_files-container {
  margin-top: 20px;
  position: relative;
  video {
    width: 100%;
    border-radius: 4px;
  }
  .closeIcon {
    display: none;
    position: absolute;
    top: 7px;
    right: 7px;
    color: #d9d9d9;
    padding: 3px 3px 1px 2px;
    background-color: #e30000e0;
    border-radius: 50%;
    font-weight: 900;
  }
  &:hover {
    .closeIcon {
      display: block;
    }
  }
}

//////////////code pen

.form {
  width: 500px;
  margin: 5% auto;

  &__container {
    position: relative;
    width: 100%;
    height: 200px;
    border: 2px dashed silver;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: silver;
    margin-bottom: 5px;

    &.active {
      background-color: rgba($color: silver, $alpha: 0.2);
    }
  }

  &__file {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    opacity: 0;
  }
}
