@import "webx-brighten/partials/variables";

.install-app-conponent {
  a {
    text-decoration: none;
    background: none;
    transition: 0.3s ease-in-out;
  }
  .wx__single-app {
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid $neutral__300;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background: $neutral__200;
      border-radius: 5px;
      cursor: pointer;
    }

    p {
      margin-left: 10px;
      font-weight: 500;
      font-size: 12px;
      color: $neutral__900;
    }
    .wx__text_semibold {
      font-size: 13px;
      font-weight: 600;
      color: $neutral__800;
    }

    .wx__text-regular {
      font-weight: 400;
      color: $neutral__600;
    }
    .wx__table_img {
      width: 48px;
      height: 48px;
      border: 1px solid $neutral__200;
      border-radius: 8px;
    }
  }
}
