@import "webx-brighten/partials/variables";
.setting_policies_page {
  .single_editor {
    .wx__text_regular {
      color: $neutral__600;
      span {
        color: $neutral__700;
        text-decoration: underline;
      }
    }
  }
}
