@import "webx-brighten/partials/variables";

.wx__product_sugest {
  // @extend ._sub__regular;
  .wx__product_sugest_link {
    color: $neutral__600;
    margin: 0 12px 0 0;
  }
  .wx__product_sugest_edit {
    display: inline-flex;
    color: $neutral__900;
    span {
      color: $neutral__700;
      margin-left: 14px;
      font-size: 1.1rem;
      cursor: pointer;
    }
  }
}
