.wx__add_product_form {
  .wx__product_form{
    display: inline-flex;
    .wx__form_left {
      margin-right: 16px;
      width: 656px;
    }
    .wx__form_right {
      width: 272px;
      height: fit-content;
    }
  }
  .card {
    padding: 24px;
    margin-bottom: 16px;
  }
}

.card{
  &.product_dimension{
    .form_group{
      input{
        margin-right: 1em;
      }
    }
  }
}