@import "../../assets/styles/partials/variables";

.wx__switch_component {
  label {
    color: $neutral__900;
    font-weight: 500;
    font-size: 14px;
  }
  span {
    font-weight: 600;
  }
  .disabled {
    opacity: 0.5;
  }
}
