.wx__not_found_component {
	width: 100%;
	padding: 64px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	p {
		max-width: 276px;
	}
	a {
		text-decoration: none;
	}
	img {
		width: 25%;
		object-fit: contain;
    margin-bottom: 20px;
	}
}

@media (max-width: 1000px) {
	.wx__not_found_component {
		img {
			width: 50%;
		}
	}
}

@media (max-width: 576px) {
	.wx__not_found_component {
		img {
			width: 70%;
		}
	}
}
