.wx__block_disabled {
  position: relative;
  cursor: not-allowed;
  .block_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e664;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}