@import "webx-brighten/partials/variables";

.domain_create_sec {
  .wx__main_content {
    .text_subtitle {
      color: $neutral__600;
    }
    .failed_input {
      input {
        border: 1.5px solid $red__500;
      }
    }
    .video_sec {
      position: relative;
      width: 100%;
      overflow: hidden;
      padding-top: 60%;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
      }
    }
  }
}
